<div class="row">
  <div class="col">
    <div class="card h-100">
      <h5 class="card-header">Available machines</h5>
      <div class="card-body">
        <p>Select the machine order, number and process that you are interested in</p>
        <div class="row">
          <div class="form-group col-sm">
            <label> Machine </label>
            <select name="selectedMachine" class="form-control">
              <option value=null selected hidden></option>
            </select>
          </div>
          <div class="form-group col-sm">
            <label> Order number </label>
            <select name="selectedOrderNumber" class="form-control">
              <option value=null selected hidden></option>
            </select>
          </div>
          <div class="form-group col-sm">
            <label> Process </label>
            <select name="selectedProcess" class="form-control">
              <option value=null selected hidden></option>
            </select>
          </div>
          <div class="form-group col-sm-3 align-self-end">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button">Get process
                data</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <h5 class="card-header">Process analytics</h5>
      <div class="card-body">
        <p class="card-text">The process data for a machine will be analyzed according to these measures</p>
        <div class="row">
          <div class="col-sm-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text alert-success">less then +/-</span>
              </div>
              <input type="text" class="form-control">
              <div class="input-group-append">
                <span class="input-group-text alert-success">%</span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text alert-warning">less then +/-</span>
              </div>
              <input type="text" class="form-control">
              <div class="input-group-append">
                <span class="input-group-text alert-warning">%</span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text alert-danger">more then +/-</span>
              </div>
              <input type="text" class="form-control">
              <div class="input-group-append">
                <span class="input-group-text alert-danger">%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
            <button class="col btn btn-secondary mx-3" type="button">Apply to data</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <div class="card h-100">
      <h5 class="card-header">Process data</h5>
      <div class="card-body">
        <p class="card-text">This is the process data of {{selectedMachine}} for process {{selectedProcess}} </p>
        <p>{{errorMessage}}</p>
        <div class="d-flex justify-content-center" *ngIf="_loaderShow">
          <div class="spinner-grow" style="width: 4rem; height: 4rem;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="row align-items-center px-sm-2" *ngIf="processDataTable.length!=0">
          <!-- table -->
          <table class="table table-hover table-sm" style="cursor: pointer">
            <thead>
              <tr>
                <!-- take first result binding and iterate over keys, these keys are table columns -->
                <th *ngFor="let col of keys(processDataTable[0])" scope="col">{{col}} </th>
              </tr>
            </thead>
            <tbody>
              <!-- one row for each binding -->
              <tr *ngFor="let tableRow of processDataTable">
                <!-- one entry for each key in each binding -->
                <td *ngFor="let x of keys(tableRow)">
                  {{tableRow[x]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>