<div class="container">
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          Hello World!
        </div>
        <div class="card-body">
          <h5 class="card-title"> The Angular-SPARQL-Tutorial </h5>
          <p class="card-text">This tutorial intends to enable you to build an easy Angular app, which can query a
            triple store (here: GrapDB), perform operations based on the retrieved data and to visualize this data to a
            user. Hereby, you will learn some basics on how to program a web-App with the Angular framework.
          </p>
          <a [routerLink]="['/process']" class="btn btn-primary"> Show me the goal! </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <div class="card bg-light h-100">
        <div class="card-header">Lessons learned 1</div>
        <div class="card-body">
          <h5 class="card-title">How do I create, style and program an Angular app?</h5>
          <p class="card-text">You will learn how to create an Angular App from scratch. Furthermore, you will learn how
            to use bootstrap in you App design in order to style your HTML in a very easy and efficient way. Lastly, you
            will learn how to create an interactiv app that is able to support a user based on the interaction with the
            app.</p>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="card bg-light h-100">
        <div class="card-header">Lessons learned 2</div>
        <div class="card-body">
          <h5 class="card-title">How do I include RDF/OWL data from GraphDB in my app?</h5>
          <p class="card-text">Build an interactive app is one thing, to build an Engineering tool another. Engineering
            tools have to have the ability to interact with Engineering or machine data. In this tutorial, you will
            learn how to query RDF/OWL data from a triple store and how to do operations on the returns. Furthermore,
            you
            will learn how to include this data in your app. Usually, the execution of queries is done by a backend.
            In order to provide a simple and easy start, the queries will be executed by Angular. However, this can be
            easily
            changed when switching to productive mode.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>